body {
    font-size: 1em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #9cf;
    height: 100%;
}

header, footer, nav, section {
    display: block;
}

.right {
    float: right !important;
}

#messages {
    height: 40px;
}

.container {
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    min-height: 300px;    
}